<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <log4net debug="false">
    <appender name="EntityAppender" type="LogTesting.TestLogModelAppender, LogTesting">
      <bufferSize value="0"/>
      <threshold value="INFO"/>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="EntityAppender"/>
    </root>
  </log4net>
</configuration>
